body{
    background-color: #FFFBF2;
}

#TopNav{
    background-color: #18468C;
    overflow: hidden;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 5px solid #95968D;
  }

#MainNavigate{
    display: block;
    float: right;
    font-size: 125%;
    margin-top: 3px;
}

#MainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#NavIcon{
    margin-top: 15px;
    padding-left: 10px;
    color: #FFFBF2;
    font-size: 125%;
}

li {
    float: right;
  }

li a {
    display: block;
    color: #FFFBF2;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 100%;
  }

h1{
    color: #18468C;
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.238);
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;    
}

.text {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    float: right;
    text-align: center;
}
